

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: black;
    color: white;
}





.heroimage {
    width: auto;
    height: auto;
    z-index: 10;

}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
}


.herotitle {
    font-size: 2.25rem; 
    font-weight: bold;
    margin-bottom: 1rem;
    z-index: 10;
    font-family: 'Bad Script', cursive; 
}

.herotitle .highlighttext {
    font-size: 3rem; 
    color: rgb(161, 98, 7) 
}


.break-mobile {
    display: block;
}

@media (min-width: 768px) {
   
    .herotitle {
        font-size: 3rem; 
    }


    .herodescription {
        font-size: 1.125rem;
    }

    .breakmobile {
        display: none;
    }
}

.herodescription {
    font-size: 1.25rem; 
    margin-bottom: 2rem;
    z-index: 10;
    font-family: 'Bad Script', cursive; 
}
